<style>
  body{ 
    font-family: sans-serif, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
    color: #333;
    } 
  .container { display: flex;
    flex-direction: column;
    gap: 32px;
  } 
  .title { 
    font-size: 1.125rem;
    font-weight: bold;
  } 
  table { 
    width: 100%;
    border-collapse: collapse;
    margin-top: 8px;
  }
  th, td { 
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }
  tr:nth-child(even) td { 
    background-color: #f2f2f2;
  } 
  .text-left { 
    text-align: left;
  } 
  td[rowspan] {
    vertical-align: top;
  }
</style>
<div class='container'>
  <div>
    <h2 class='title'>
      Koldioxidutsläpp (CO<sub>2</sub>e)
    </h2>
    <table>
      <thead>
        <tr>
          <th colspan='2' class='text-left'>Utsläpp inom scope 1, 2 och 3 (CO<sub
            >2</sub>e) och biogena utsläpp (utanför scope) genererade av
            {{companyName}}s verksamhet.</th>
          {{#each emissions as |emission|}}
            <th>{{emission.year}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan='5'>Ton CO<sub>2</sub>e</td>
          <td>Scope 1</td>
          {{#each emissions as |emission|}}
            <td>{{emission.scope1.emissions}}</td>
          {{/each}}
        </tr>
        <tr>
          <td>Scope 2<sup>3</sup></td>
          {{#each emissions as |emission|}}
            <td>{{emission.scope2.emissions}}</td>
          {{/each}}
        </tr>
        <tr>
          <td>Platsbaserat tillvägagångssätt</td>
          {{#each emissions as |emission|}}
            <td>{{emission.scope2.lb}}</td>
          {{/each}}
        </tr>
        <!--<tr>
          <td colspan='2'>Förändring jämfört med basår (scope 1 och 2), %</td>
          <td>-55</td>
          <td>-46</td>
          <td>-34</td>
          <td>-28</td>
          <td>—</td>
        </tr>
        <tr>
          <td colspan='2'>Koldioxidintensitet<sup>4</sup></td>
          <td>1,13</td>
          <td>1,46</td>
          <td>1,67</td>
          <td>1,64</td>
          <td>2,60</td>
        </tr>-->
        <tr>
          <td>Scope 3</td>

          {{#each emissions as |emission|}}
            <td>{{emission.scope3.emissions}}</td>
          {{/each}}
        </tr>
        <!--<tr>
          <td colspan='2'>Förändring jämfört med basår (scope 3), %</td>
          <td>-13</td>
          <td>-12</td>
          <td>—</td>
          <td>—</td>
          <td>—</td>
        </tr>
        <tr>
          <td colspan='2'>Utanför scope<sup>5</sup></td>
          <td>33&nbsp;000</td>
          <td>22&nbsp;000</td>
          <td>17&nbsp;000</td>
          <td>20&nbsp;000</td>
          <td>—</td>
        </tr>-->
      </tbody>
    </table>
  </div>
  <div>
</div>